<div style="text-align:center">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">


      <h1>Edit/Create DMCA TakeDown Policy</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="comment">DMCA Policy:</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
        <a class="btn btn-primary btn-lg">Submit</a>
      </form>
      </div>

      <div class="col-md-6">


      <h1>Edit/Create Privacy Policy</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="comment">Privcy Policy:</label>
          <textarea class="form-control" rows="10"></textarea>
        </div>
        <a class="btn btn-primary btn-lg">Submit</a>
      </form>
      </div>

    </div>
    <div class="row">
      <h1>DMCA TakeDown Notices Recieved</h1>
      <ul>
        <li>first notice : Time to settle 12 days</li>
        <li>2nd notice : Time to settle 12 days</li>
        <li>3rd notice : Time to settle 3 days</li>
      </ul>
          ngIf some notices show in list
    </div>


    </div>

</div>
