<!-- <app-header (featureSelected)="onNavigate($event)"></app-header> -->
<app-header></app-header>
<div style="text-align:center">
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-6" style="float: left;">
      <h1>
       {{title}}
     </h1>
     <h4><i>A place to collect and share images from space!</i></h4>
     </div>
     <div class="col-md-6" style="float: left;">
      <img src="../assets/images/nasa_image.png"/>
     </div>
   </div>
   <br>
   <router-outlet></router-outlet>
   <br>
 </div>
    <app-footer></app-footer>
</div>
