<div style="text-align:center">
  <div class="container-fluid">
    <div class="row">
      <h1>Public DMCA TakeDown Policy</h1>


      <p>The content that users create on this site is subject to copyright infringement.
         This website recognizes that these images belong to NASA. If there is an issue
         regarding the ownership of these images the dispute will be reconsiled by our admin within 14 days.
         Please submit your notice in the form below...
      <div class="col-md-12">
        <p>The URL of the collection:</p><input style="text"/>
      </div>
      <div class="col-md-12">
        <br>
        <button>Send TakeDown Notice</button>
      </div>

    </div>

  </div>

</div>
