<div style="text-align:center">
 <div class="container-fluid">
   <div class="row">

<!-- <p>
  <b>{{response.title}}</b>
  <img
  src={{response}}/>
</p>
<p>{{response.explanation}}</p>
<button
(click)="onClick()">Click Me</button> -->


<br>
<br>
    </div>
<!-- make form not input -->
<!-- <p>Search NASA Image Library : -->

  <!-- <section class="search input-group mb-3">
    <label class="input-group-addon" for="search">Search</label>
    <input
      id="search"
      type="text"
      class="form-control" />
      <span class="input-group-btn">
        <button
          class="btn btn-primary">&times;</button>&#xe003;
      </span>
  </section> -->
<div class="row">
  <input
  type="text"
  name="name"
  [(ngModel)]="query"
  placeholder=" Search NASA's Image Library..."
  size="100"/>
<!-- <button onClick="saveBear()">Search</button> -->
<a
(click)="getNASA()"
class="btn btn-primary btn-lg"
color="blue;"
>
<span
style="font-size: 1em;"
class="glyphicon glyphicon-search"
></span>
</a>

<hr>
    </div>
<!-- <button
(click)="getNASA()">GET IMAGES from MARS</button> -->

<!-- <div class="container">
  <div class="row"> -->
  <div class="row">
    <div
    *ngFor="let res of response2 | paginate: { itemsPerPage: 6, currentPage: p };"
    class="col-md-4">
    <a href={{res}} target="_blank">
      <div class="img__wrap">
      <img
      class="img__img"
      style="width: 85%; height: 85%; margin: 20px;"
      src={{res}}/>
      <p class="img__description">Click to enlarge.</p>
      </div>
      </a>
    </div>
    <div class="row">
<div class="col-md-12">



    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
        </div>
      </div>
    </div>


    <!-- <paging
    page="currentPage"
    page-size="pageSize"
    total="total"
    pg-href="#GotoPage-{page}"
    paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
</paging>  -->

  <!-- </div> -->

<!-- <p>{{response2}}</p> -->
