<div style="text-align:center">
  <br>
  <br>

  <!-- make form not input -->
  <p>Search NASA Image Library :
    <input
    type="text" name="name"
    id="search_nasa"
    placeholder="Search for..."
    size="75"/>
<!-- <button onClick="saveBear()">Search</button> -->
<a
href="#"
class="btn btn-primary btn-lg"
color="blue;"
>
  <span
  style="font-size: 1em;"
  class="glyphicon glyphicon-search"
  ></span>
</a>
  </p>
<hr>


<div class="jumbotron">
  <div style="text-align:center">
    <div *ngIf="auth.authenticated">
      <p>Hello, <a routerLink="/profile" href>{{auth.userProfile?.name}}</a>!</p>
    </div>
    <h3>About</h3>
    <p>
      This website is a place where people share
      their love of space travel with the great images NASA makes available.
      You can save your own collections of pictures, as well browse and rate
      the collections that other people create. Happy searching!
    </p>
    <div *ngIf="!auth.authenticated">
      <a class="btn btn-primary btn-lg" (click)="auth.login()">Log In</a>
      <!-- <button (click)="auth.login()">Log In</button> -->
    </div>

<!-- move to nav later -->
    <div *ngIf="auth.authenticated">

      <a class="btn btn-primary btn-lg" (click)="auth.logout()">Log Out</a>

    </div>
  </div>
</div>

NASA's IMAGE OF THE DAY:
<app-sample></app-sample>
  <!-- <h1>Images</h1>
  <p>Click "Get Images" button to show the list of records in the database. Hover over an image to see the ID.</p>
  <ul id="bears"></ul>
  <button onClick="getBears()">Get Bears</button>
  <p>Add a bear : <input type="text" name="name"  id="save_bear"/> <button onClick="saveBear()">Save</button></p> -->

<!-- <script>

  const NASAurl = 'https://images-api.nasa.gov/search?q=';
  var endPoint ='';

  function createNode(element) {
      return document.createElement(element);
  }
  function append(parent, el) {
    return parent.appendChild(el);
  }
  function removeChild(root) {
    while ( root.firstChild ) {
      root.removeChild( root.firstChild );
    }
  }
  function getBears(){
      const ul = document.getElementById('bears');
      const url = NASAurl + 'apollo';
      removeChild(ul); // remove list elements if there are any
      fetch(url)
      .then((resp) => resp.json())
      .then(function(data) {
        console.log(data);
        return data.map(function(bear) {
          let li = createNode('li'),
            span = createNode('span');
          span.innerHTML = bear.name;
          span.setAttribute("title", `ID: ${bear._id}`)
          append(li, span);
          append(ul, li);
        })
      })
      .catch(function(error) {
        console.log(JSON.stringify(error));
      });
    }

    function saveBear() {
      fetch('https://images-api.nasa.gov/search?q=apollo', {
      	method: 'post',
      	headers: {'Content-Type': 'application/json'},
      	body: JSON.stringify({name: document.getElementById('save_bear').value})
      })
      .then(getBears()); // load the new list
    }

    // Uncomment the line below to populate the page when first loaded
    // getBears();
</script> -->
