
<!-- <app-loading *ngIf="loading"></app-loading> -->

<!-- <ng-template [ngIf]="utils.isLoaded(loading)"> -->
  <ng-template [ngIf]="colList">
    <ng-template [ngIf]="colList.length">

      <!-- Search events -->

      <!-- No search results -->
      <!-- <p *ngIf="fs.noSearchResults(filteredEvents, query)" class="alert alert-warning">
        No events found for <em class="text-danger">{{query}}</em>, sorry!
      </p> -->

      <!-- Collection listing -->
      <section class="list-group">
        <a
          *ngFor="let col of colList"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" [innerHTML]="col.title"></h5>
            <!-- <small>{{utils.eventDates(event.startDatetime, event.endDatetime)}}</small> -->
            <!-- <star-rating-comp [staticColor]="'positive'"></star-rating-comp> -->
            <star-rating-comp [starType]="'icon'"></star-rating-comp>
              <!-- <app-my-events-component></app-my-events-component> -->
          </div>
              <!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->
        </a>
      </section>
    </ng-template>
<star-rating-comp [starType]="'icon'"></star-rating-comp>
<star-rating-comp [numOfStars]="6"></star-rating-comp>
    <!-- No upcoming public events available -->
    <p *ngIf="!colList.length" class="alert alert-info">
      No public collections available.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving collections.
  </p>

<!-- </ng-template> -->
