<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <ng-template [ngIf]="colList">
        <ng-template [ngIf]="colList.length">

          <!-- Collection listing -->

          <section class="list-group colList">
              <ng-container *ngFor="let col of colList | slice:0:9" >
            <a
              *ngIf="col.isPrivate == false"
              [class.selected]="col === selectedCol"
              (click)="onSelect(col)"
              class="list-group-item list-group-item-action flex-column align-items-start">

              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" [innerHTML]="col.title"></h5>
                <p>Rating: {{col.ratings}}</p>
                <!-- <small>{{utils.eventDates(event.startDatetime, event.endDatetime)}}</small> -->
                <!-- <star-rating-comp [staticColor]="'positive'"></star-rating-comp> -->
                <star-rating-comp [starType]="'icon'"></star-rating-comp>
                  <!-- <app-my-events-component></app-my-events-component> -->
              </div>
                  <!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->


            </a>
             </ng-container>

          </section>

        </ng-template>
    <star-rating-comp [starType]="'icon'"></star-rating-comp>
    <star-rating-comp [numOfStars]="6"></star-rating-comp>
        <!-- No upcoming public events available -->
        <p *ngIf="!colList.length" class="alert alert-info">
          No public collections available.
        </p>
      </ng-template>

      <!-- Error loading events -->
      <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving collections.
      </p>
    </div>
    <div class="col-md-6">
<app-collection-detail [col]="selectedCol"></app-collection-detail>
    </div>

  </div>
</div>



<!-- </ng-template> -->
